@font-face {
  font-family: "EstablishRetrosans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Paperlogy";
  src: url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy-8ExtraBold.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");


:root {
  --white: #EDF1F8;
  --light-blue: #8fadea;
  --dark-navy: #0A1428;
  --navy: #24478E;
  --gray: #A9B4C6;
  --dark-gray: #26314A;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: "EstablishRetrosans", sans-serif;
  background: #0b162b;
}